
/* SWEET PINK Panel */

.panel-sweet-pink {
    border-color: #FFCCCC;
}

    .panel-sweet-pink > .panel-heading {
        color: #BF6060;
        background-color: #FFF7F9;
        border-color: #FFCCCC;
    }

        .panel-sweet-pink > .panel-heading .badge {
            color: #FFF5F7;
            background-color: #BF6060;
        }

    .panel-sweet-pink > .panel-body {
        background-color: #FFE5ED;
    }

/* SWEET PINK Button */

.btn-sweet-pink {
    color: #fff;
    background-color: #F2B6C7;
    border-color: #E6ADBD;
}

    .btn-sweet-pink.active, .btn-sweet-pink:active, .open > .dropdown-toggle.btn-sweet-pink, .btn-sweet-pink.focus, .btn-sweet-pink:focus, .btn-sweet-pink:hover {
        color: #fff;
        background-color: #E8AEBF;
        border-color: #D9A3B2;
    }

/* SWEET PINK Other */

.text-sweet-pink {
    color: #BF6060;
}

.style-sweet-pink {
    background-color: #BF6060;
}

.section-sweet-pink {
    background-color: #FFE5ED;
    border-top: 1px solid #fcc;
    border-bottom: 1px solid #fcc;
}

.img-date.date-sweet-pink {
    color: #BFACB2;
    background-color: #F2DAE1;
    border-top: 1px dotted #BFACB2;
}





/* NOCTURNAL PURPLE Panel */

.panel-nocturnal-purple {
    border-color: #dcd6dc;
}

    .panel-nocturnal-purple > .panel-heading {
        color: #5c3e5c;
        background-color: #f5f0f5;
        border-color: #d8c5d8;
    }

        .panel-nocturnal-purple > .panel-heading .badge {
            color: #f5f0f5;
            background-color: #5c3e5c;
        }

    .panel-nocturnal-purple > .panel-body {
        background-color: #e8dee8;
    }

/* NOCTURNAL PURPLE Button */

.btn-nocturnal-purple {
    color: #fff;
    background-color: #c1a7c1;
    border-color: #b195b1;
}

    .btn-nocturnal-purple.active, .btn-nocturnal-purple:active, .open > .dropdown-toggle.btn-nocturnal-purple, .btn-nocturnal-purple.focus, .btn-nocturnal-purple:focus, .btn-nocturnal-purple:hover {
        color: #fff;
        background-color: #B29AB2;
        border-color: #A891A8;
    }

/* NOCTURNAL PURPLE Other */

.text-nocturnal-purple {
    color: #5c3e5c;
}

.style-nocturnal-purple {
    background-color: #5c3e5c;
}

.section-nocturnal-purple {
    background-color: #E8DEE8;
    border-top: 1px solid #d8c5d8;
    border-bottom: 1px solid #d8c5d8;
}

.img-date.date-nocturnal-purple {
    color: #A8A1A8;
    background-color: #DBD2DB;
    border-top: 1px dotted #A8A1A8;
}