body {
    padding-top: 50px;
    /*padding-bottom: 20px;*/
    /*background: #7D899B;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 335px;
}

.thumbnail {
    max-width: 345px;
    margin-left: auto;
    margin-right: auto;
}
.panel {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.img-date {
    color: #A7A7A7;
    margin: 3px -4px -4px -4px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #ECECEC;
    border-top: 1px dotted #A7A7A7;
    font-size: 10px;
    font-style: italic;
    text-align: center;
}

    .img-date.date-default {
        color: #A7A7A7;
        background-color: #ECECEC;
        border-top: 1px dotted #A7A7A7;
    }

    .img-date.date-info {
        color: #A1B0B7;
        background-color: #CEE1EA;
        border-top: 1px dotted #A1B0B7;
    }

    .img-date.date-warning {
        color: #BCB9AA;
        background-color: #EFEBD8;
        border-top: 1px dotted #BCB9AA;
    }

    .img-date.date-success {
        color: #A4B09F;
        background-color: #D3E3CD;
        border-top: 1px dotted #A4B09F;
    }


#loading {
    width: 20px;
    height: 20px;
}


.navbar img {
    width: 14px;
    height: 14px;
}

.navbar .navbar-brand img {
    width: 20px;
    height: 20px;
}

.navbar .glyphicon {
    display: none;
}

.profile-stat img {
    width: 22px;
    height: 20px;
}

h2 {
    font-size: 26px;
}

.h2-container {
    margin: 20px 0;
}

    .h2-container h2 {
        padding-top: 3px;
    }

.one-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.r-pin {
    position: absolute;
    right: 0px;
}

.pos-rel {
    position: relative;
}

.panel-warning .panel-body {
    background-color: #fcf8e3;
}

.panel-warning .panel-heading {
    background-color: #FEFEFA;
}

.panel-success .panel-body {
    background-color: #dff0d8;
}

.panel-success .panel-heading {
    background-color: #F7FBF4;
}

.panel-default .panel-body {
    background-color: #f5f5f5;
}

.panel-default .panel-heading {
    background-color: #FDFDFD;
}

.panel-info .panel-body {
    background-color: #d9edf7;
}

.panel-info .panel-heading {
    background-color: rgb(237, 247, 252);
}

.panel-footer {
    position: relative;
    padding: 0 0 0 0;
}

.panel-heading {
    position: relative;
}

    .panel-heading a {
        vertical-align: middle;
        color: inherit;
    }

        .panel-heading a:hover {
            color: inherit;
            text-decoration: none;
        }

.btn-add {
    font-weight: 700;
    margin-right: 5px;
    padding: 0 7px;
    line-height: 0;
    font-size: 15px;
    display: inline;
}

.preview-gallery {
    height: 127px;
}

.preview-container-sm {
    width: 49%;
    height: 100%;
    display: inline-block;
    position: relative;
}

.preview-container-md {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 152px;
    position: relative;
    background-color: #333;
    overflow: hidden;
}

    .preview-container-md a {
        width: 100%;
        height: 100%;
        display: block;
    }

    .preview-container-md.style-default {
        background-color: #333;
    }

    .preview-container-md.style-success {
        background-color: #3c763d;
    }

    .preview-container-md.style-warning {
        background-color: #8a6d3b;
    }

    .preview-container-md.style-info {
        background-color: #31708f;
    }

.qr-container {
    display: none;
    position: absolute;
    background-color: rgba(34,34,34,0.9);
    border: 2px dashed white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.qr-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.qr-btn {
    padding: 0;
    margin-top: 5px;
    background-color: transparent;
    font-size: 25px;
    width: 50px;
    height: 33px;
}

.preview-img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.preview-container-md .preview-img {
    max-height: none;
    width: 100%;
}

.img-comment {
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: rgba(0,0,0,0.7);
    padding: 0 3px;
}

    .img-comment .show-hide-comment {
        background-color: rgb(107,107,099);
        font-size: 10px;
        width: 25px;
        height: 20px;
        line-height: 2;
        cursor: pointer;
        float: right;
        position: relative;
        margin-right: -3px;
    }

.img-comment-change {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    width: 100%;
    text-align: center;
}

.ovner-tools {
    position: absolute;
    top: 10px;
    left: 5px;
}

    .ovner-tools img {
        margin-top: -2px;
        width: 12px;
        height: 12px;
    }

    .ovner-tools > .btn {
        padding: 0 5px;
        width: 25px;
        height: 25px;
        font-size: 12px;
        line-height: 1.5;
    }

    .ovner-tools .img-edit-save, .ovner-tools .saving-load {
        display: none;
    }

.img-tools {
    position: relative;
    padding: 0 5px;
    height: 40px;
}

.type {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1px 5px 1px 6px;
    background-color: rgba(0,0,0,0.7);
    border-bottom-left-radius: 6px;
    color: white;
    font-weight: bold;
}

.rate-container {
    position: absolute;
    right: 5px;
    top: 11px;
    color: rgb(128, 128, 128);
    font-size: 18px;
}

    .rate-container > .rate-like {
        font-size: 22px;
        line-height: 0;
    }

        .rate-container > .rate-like.glyphicon {
            font-size: 18px;
            padding-left: 5px;
            cursor: pointer;
            line-height: 18px;
        }

        .rate-container > .rate-like.disabled {
            cursor: not-allowed;
        }

    .rate-container.liked {
        color: rgb(255, 102, 81);
    }

.gallery-info {
    text-align: center;
    border-top: dashed;
    border-top-width: 2px;
    border-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0;
    height: 23px;
}

    .gallery-info > a {
        display: block;
    }

.gallery-badges {
    float: right;
    display: inline-block;
}

.inline {
    display: inline-block;
}

.section-grey {
    background: rgb(242,242,242);
    border-top: 1px solid rgb(217,217,217);
    border-bottom: 1px solid rgb(217,217,217);
}

.section-white {
    background-color: white;
}

.section-slate-gray {
    background-color: #F5F5F5;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.section-sky-blue {
    background-color: #D9EDF7;
    border-top: 1px solid #bce8f1;
    border-bottom: 1px solid #bce8f1;
}

.section-grass-green {
    background-color: #DFF0D8;
    border-top: 1px solid #d6e9c6;
    border-bottom: 1px solid #d6e9c6;
}

.section-rusty-orange {
    background-color: #FCF8E3;
    border-top: 1px solid #faebcc;
    border-bottom: 1px solid #faebcc;
}

.section-separator-top {
    padding-top: 20px;
}

.section-separator-bottom {
    padding-bottom: 20px;
}

.r-pin {
    position: absolute;
    right: 0;
    top: 0;
}

footer {
    color: #A9A9A9;
    height: 50px;
    padding-top: 15px;
    text-align: right;
}

.profile-header {
    font-size: 22px;
    margin: 20px 0px;
}

    .profile-header .profile-login {
        display: inline-block;
    }

        .profile-header .profile-login h2 {
            display: inline-block;
        }

    .profile-header h2 {
        margin: 0;
        padding: 0;
    }

    .profile-header .profile-rating {
        padding-left: 10px;
        color: darkorange;
    }

    .profile-header .profile-stat {
        float: right;
    }

        .profile-header .profile-stat > a {
            padding-left: 10px;
            text-decoration: none;
        }

.create-new {
    padding-bottom: 20px;
}

@media only screen and (max-width: 767px) {

    .navbar .glyphicon {
        display: block;
    }

    .navbar > .container {
        margin: 0 -10px;
    }

    .navbar-collapse.collapse {
        display: block !important;
    }

    .navbar-nav {
        margin: 0;
    }

        .navbar-nav > li, .navbar-nav {
            float: left !important;
        }

            .navbar-nav > li > a {
                padding-top: 18px;
                padding-bottom: 17px;
            }

    /*.navbar-nav.navbar-right:last-child {
                margin-right: -15px !important;
            }*/

    .navbar-right {
        float: right !important;
    }

    .collapsible {
        display: none !important;
    }
}

#pagination {
    margin:0 auto;
}

@media (min-width: 768px) {
    #pagination {
        max-width: 450px;
    }
}

@media (min-width: 992px) {
    #pagination {
        max-width: 500px;
    }
}

@media (min-width: 1200px) {
    #pagination {
        max-width: 550px;
    }
}

@media only screen and (max-width: 768px) {

    #pagination {
        max-width: 450px;
    }
}

@media only screen and (max-device-width: 425px) {
    .preview-container-md {
        height: 191px;
    }
}

/*Small (3DS) screen*/
@media only screen and (max-device-width: 320px) {

    .preview-gallery {
        height: 110px;
    }

    .preview-container-sm {
        width: 124px;
        height: 80px;
    }

    .preview-container-md {
        height: 168px;
    }

    .panel-body .container {
        padding: 1px;
    }

    .profile-header .profile-login {
        display: block;
    }

    .profile-header .profile-stat {
        float: none;
        margin-top: 15px;
    }

        .profile-header .profile-stat > a {
            padding: 0 5px;
        }

    .create-new {
        text-align: center;
    }

    footer {
        font-size: 13px;
        text-align: center;
    }
}

