@model _3dsGallery.DataLayer.DataBase.GalleryContext
@{
    ViewBag.Title = "Home";
    int gallery_count = Request.UserAgent.Contains("Nintendo 3DS") ? 2 : 3;
    int picture_count = Request.UserAgent.Contains("Nintendo 3DS") ? 3 : 12;
}

<div class="section-white">
    <div class="container body-content">
        <div class="h2-container">
            <a href="@Url.Action("Index", "Gallery")" class="btn btn-success pull-right">View all</a>
            <h2 class="text-success">Latest Updates</h2>
        </div>
        <div class="row">

            @*<div class="col-md-4">
                <div class="panel panel-nocturnal-purple">
                    <div class="panel-heading">
                        <div class="gallery-badges">
                            <span class="badge">3D</span>
                            <span class="badge">99</span>
                        </div>
                        <div class="one-line">
                            <a href="" class="btn btn-nocturnal-purple btn-add">+</a>
                            <a href="" class="gallery-name">Test gallery element</a>
                        </div>
                    </div>
                    <div class="panel-body preview-gallery">
                        <div class="preview-container-sm">
                            <img class="img-thumbnail preview-img">
                        </div>
                        <div class="preview-container-sm">
                            <img class="img-thumbnail preview-img">
                        </div>
                    </div>
                    <div class="panel-heading gallery-info">
                        <a href=""><i>Username</i></a>
                    </div>
                </div>
            </div>*@

            @{ Html.RenderAction("GetElements", "Gallery", new { items = Model.Gallery.Where(x => x.LastPicture != null).OrderByDescending(x => x.LastPicture.id).Take(gallery_count).ToList() }); }
        </div>
    </div>
</div>

<div class="section-grey">
    <div class="container body-content">
        <div class="h2-container">
            <a href="@Url.Action("Index", "Picture")" class="btn btn-info pull-right">View all</a>
            <h2 class="text-info">Latest Images</h2>
        </div>
        <div class="row">
            @{ Html.RenderAction("GetElements", "Picture", new { items = Model.Picture.OrderByDescending(x => x.id).Take(picture_count).ToList() }); }
        </div>
    </div>
</div>

@section scripts {
    @RenderPage("~/Views/Shared/MainScripts.cshtml")
}
