@model _3dsGallery.DataLayer.DataBase.Gallery

@{
    ViewBag.Title = "Delete gallery";
}

<div class="section-white">
    <div class="container body-content">
        <h2>Delete "<span class="text-@Model.Style.value">@Model.name</span>"</h2>
        <h5>All images will be deleted too!</h5>
    </div>
</div>

<div class="section-grey">
    <div class="container body-content section-separator-bottom section-separator-top">
        @using (Html.BeginForm("Delete", "Gallery", FormMethod.Post, new { @id = "mainForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <a href="@Url.Action("Details", "Gallery", new { id=Model.id })" class="btn btn-sm btn-default">Cancel</a>
                <input id="submitBtn" type="submit" value="Delete!" class="btn btn-danger" />
            </div>
        }
    </div>
</div>

@section scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            $('#mainForm').submit(function () {
                var form = $(this);

                if (!form.valid()) {
                    return; // Don't disable the button
                }

                $('#submitBtn').prop('disabled', true).val('Deleting, please wait...');
            });
        });
    </script>
}
