@model IEnumerable<_3dsGallery.DataLayer.DataBase.Gallery>

<div class="row">
    @{ Html.RenderAction("GetElements", "Gallery", new { items = Model }); }
</div>

<script>
    var contentPages=@ViewBag.Pages;
</script>