
@{
    ViewBag.Title = "Access denied";
}

<div class="section-white">
    <div class="container body-content text-center">
        <h2>Access denied</h2>
    </div>
</div>
<div class="section-grey">
    <div class="container body-content section-separator-bottom section-separator-top text-center">
        <p class="text-danger">Sorry, but you can only access this page from the <b>Nintendo 3DS Internet Browser.</b></p>
        <h3>Quick access:</h3>
        <p>
            1) <b>Get your 3DS</b>;
            <br />2) Open the <b>home screen</b>;
            <br />3) <b>Press L+R</b> buttons to open the camera;
            <br />4) Select <b>QR Scanner</b> (touch screen);
            <br />5) <b>Point</b> the camera to a QR Code below.
        </p>
        <a href="/"><img style="border-bottom: 2px solid black; border-right: 1px solid black" width="200" src="/Content/qr-site-url.jpg" /></a>
    </div>
</div>
