
@{
    ViewBag.Title = "Access denied";
}

<div class="section-white">
    <div class="container body-content text-center">
        <h2>Access denied</h2>
    </div>
</div>
<div class="section-grey">
    <div class="container body-content section-separator-bottom section-separator-top text-center">Sorry, but you can only access this page from the Nintendo 3DS Browser.</div>
</div>

@section scripts {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
}
