
@{
    ViewBag.Title = "Access denied";
}

<div class="section-white">
    <div class="container body-content text-center">
        <h2>Access denied</h2>
    </div>
</div>
<div class="section-grey">
    <div class="container body-content section-separator-bottom section-separator-top text-center">
        <p class="text-danger">Sorry, but you can only access this page from the <b>Nintendo <span class="kawaii"><span class="text-3ds-red">3</span><span class="text-3ds-dark">DS</span></span> Internet Browser.</b></p>
        <h3>Quick access:</h3>
        <p>
            1) <b>Get your <span class="kawaii"><span class="text-3ds-red">3</span><span class="text-3ds-dark">DS</span></span></b>;
            <br />2) Open the <b>home screen</b>;
            <br />3) <b>Press L+R</b> buttons to open the camera;
            <br />4) Select <b>QR Scanner</b> (touch screen);
            <br />5) <b>Scan</b> the QR Code below to open <a class="no-link-style kawaii" href="/"><span class="text-3ds-red">3</span><span class="text-3ds-dark">DS</span> GALLERY</a>.
        </p>
        <a href="/"><img class="qr-code-border" width="200" src="/Content/qr-site-url.png" /></a>
    </div>
</div>
